---
layout: default
title: Home
---
<div class="home">
    {% for post in paginator.posts %}
    <article>
        <div class="article">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

            <div class="pre-post-toolbar">
                <span class="post-date">{{ post.date | date: "%Y年%m月%d日" }}</span>
            </div>
        </div>
    </article>
    {% endfor %}
    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="/_posts/page/{{ paginator.previous_page }}/" class="previous">新しい記事へ</a>
        {% endif %}
        <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
        <a href="/_posts/page/{{ paginator.next_page }}/" class="next" rel="next">古い記事へ</a>
        {% endif %}
    </div>
</div>
