---
layout: default
title: Home
---
<div class="home">
    {% for post in paginator.posts %}
    <article>
        <div class="article">
            <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

            <div class="pre-post-toolbar">
                <span class="post-date">{{ post.date | date: "%Y年%m月%d日" }}</span>
            </div>
        </div>
    </article>
    {% endfor %}
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">新しい記事へ</a>
        {% else %}
        <span class="previous">新しい記事へ</span>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next" rel="next">古い記事へ</a>
        {% else %}
        <span class="next">古い記事へ</span>
        {% endif %}
    </div>
    {% endif %}
</div>
