<p>
    <a href="https://jsprimer.net/" title="JavaScript Primer">JavaScript Primer</a>の書籍版が<a
        href="https://www.amazon.co.jp/dp/4048931105/">Amazonで購入</a>できます。
</p>
<!--お知らせ-->
<p>
    JavaScriptに関する最新情報は週一で<a href="https://jser.info/" title="JSer.info">JSer.info</a>を更新しています。
</p>

<p><a href="https://github.com/sponsors/azu">GitHub Sponsors</a>での支援を募集しています。</p>

<iframe src="https://github.com/sponsors/azu/button" title="Sponsor azu" height="35" width="116"
    style="border: 0;"></iframe>
