<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }}
        {% else %}
        {{ page.title }} | {{ site.title }}
        {% endif %}
    </title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.tags %}
    <meta name="keywords" content="{{page.tags | join: ','}}" />
    {% else %}
    <meta name="keywords" content="{{site.keywords | join: ','}}" />
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Icons -->
    <link rel="icon" href="{{ site.icon | prepend: site.baseurl | prepend: site.url }}">
    <!-- canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <!-- Hatena -->
    <link rel="author" href="https://www.hatena.ne.jp/efcl/" />
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/feed/">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
    <!-- JavaScript -->
    {% include ogp.html %}
    {% include google_analytics.html %}
    {% include categories-list-script.html %}
</head>
