<div class="recent">
    <h3 class="categories-list-title"><a href="{{ site.baseurl }}/categories">カテゴリ一覧</a></h3>

    <div class="categories-list">
        <ul>
            {% for category_tuple in site.sorted_categories limit:3 %}
            <li>
                <a href="{{ site.baseurl }}/categories#{{ category_tuple | first }}">{{ category_tuple | first }}</a>
                <span class="category-count">[{{ category_tuple | last | size }}]</span>
            </li>
            {% endfor %}
            <li><a href="{{ site.baseurl }}/categories/">
                残りのカテゴリ...
            </a></li>
        </ul>
    </div>
</div>