<div class="sidebar">
    <div class="container">
        <div class="profile">
            <a href="{{ site.baseurl }}/about/" title="About"><img src="{{ site.baseurl }}/public/img/azu.png" alt="Profile"></a>

            <h2><a href="{{ site.baseurl }}/about/" title="About">azu</a></h2>
        </div>
        <div class="social">
            <a class="twitter" href="https://twitter.com/{{site.author.twitter}}" title="Twitter">
                <img src="{{ site.baseurl }}/public/svg/twitter.svg" alt="twitter" width="32" height="32"/>
            </a>
            <a class="bluesky" href="https://bsky.app/profile/{{site.author.bluesky}}" title="Bluesky">
                <img src="{{ site.baseurl }}/public/svg/bluesky.svg" alt="bluesky" width="32" height="32"/>
            </a>
            <a class="github" href="https://github.com/{{site.author.github}}" title="GitHub">
                <img src="{{ site.baseurl }}/public/svg/github.svg" alt="GitHub" width="32" height="32"/>
            </a>
            <a class="rss" href="/feed/" title="RSS Feed">
                <img src="{{ site.baseurl }}/public/svg/feed.svg" alt="RSS" width="32" height="32"/>
            </a>
        </div>
        <nav class="sidebar-nav">
            <div class="search">
                <form class="search-box" method="get" action="https://www.google.co.jp/search">
                    <label for="search-box-label">検索:</label>
                    <input type="hidden" name="q" value="site:efcl.info">
                    <input id="search-box-label" type="search" name="q">
                    <input type="submit" value="search">
                </form>
            </div>
            {% include recent-posts.html %}
            {% include recent-categories.html %}
        </nav>
    </div>
</div>
