<aside class="sponsor-callout" aria-labelledby="sponsor-callout-title">
    <p class="sponsor-callout-title" id="sponsor-callout-title">継続的な活動への支援</p>
    <p>
        JSer.info、textlint、JavaScript Primerなどの継続的な活動は、GitHub Sponsorsでサポートできます。
    </p>
    <p class="sponsor-callout-actions">
        <a class="sponsor-callout-link" href="https://github.com/sponsors/azu">GitHub Sponsorsで支援</a>
        <a class="sponsor-callout-help" href="https://zenn.dev/azu/articles/c48ad63e20ad75">
            <span class="sponsor-callout-help-icon" aria-hidden="true">?</span>
            GitHub Sponsorsの支援方法
        </a>
    </p>
</aside>
