@-moz-document domain("twitter.com") {
/* Twitter */

  /* �����o�� */
  .content-bubble-arrow {
    display:none;
  }
  /* �w�b�_�[ */
  #navigation:hover { height : auto !important; overflow : visible !important; }
  #navigation { position : absolute !important; left : 0px !important; top : 1px !important; overflow : hidden !important; z-index : 3 !important; font-size : 16px !important; line-height : 22px !important; padding: 0 !important; height: 0px !important; width: 100%; color: #000000 !important; background-image: url(https://image.livedoor.com/img/top/11/title_bg_normal.gif) !important; border-bottom: 2px solid #999 !important ;-moz-opacity:0.5;  }
  #profile:hover > #navigation{
    display:block!important;
  }
  #header{
    display:none;
  }
  #container{
   margin-top:0!important;
  }
  /* �L�� */
  #side_ad_base{
    display:none;
  }
  #side .promotion{
    display:none;
  }

  /* �X�y�[�X�m�� �������J�E���g*/
  .bar h3 {
    display:none!important;
  }
  #chars_left_notice {
    font-size:11pt !important;
  }
  .bar span {
    right:20px!important;
    top:25px!important;
  }
  /* ���e�{�^�� */
  .status-btn{
    display:none;
  }
  #currently {
      width:500px!important;
  }
  /* �����̃X�y�[�X�g��
  ol.statuses span.status-body {
      width:450px!important;
  }*/
}
