@charset 'UTF-8';
// 無いと日本語扱えない
@import 'mixin';

$seperate-color: #eee;
$spacer: 10px;
@import 'timeline';

.nav-site {
  display: inline-block;
  margin: 0 1em;
  text-align: center;
  a {
    display: block;
  }
  img {
    height: 100px;
    width: 140px
  }
}

#contents {
  $gutter: 45px;
  $border-size: 1px;
  border-left: $border-size solid $seperate-color;
  margin-bottom: $spacer;
  margin-left: ceil($gutter/2 - $border-size);
  margin-top: $spacer;
  padding-left: ceil($gutter/2 - $border-size);

  p {
    line-height: 1.5;
  }

  .sites,
  .products {
    border-top: 1px solid $seperate-color;
    margin-top: 10px;

    h1 {
      border-left: 4px solid #111;
      line-height: 1.2;
      padding-left: 10px;
    }
  }

  .site-description,
  .description {
    background-color: #e3ffa6;
    font-size: 1em;
    margin: 5px;
    padding: 10px 10px 10px 15px;
    text-align: left;
  }

  .mail-form {
    border: none;
    padding: 5px 10px;
  }
}

.presentation-table {
  background-color: #efc;
}

// presentation
.presentation-table__item--date,
.presentation-table__item--report {
  font-size: 80%;
}



