---
layout: default
---

<div class="post" id="js-post-url" data-post-url="{{page.url}}">
    <h1 class="post-title">{{ page.title }}</h1>

    <div class="pre-post-toolbar">
        <span class="post-date">{{ page.date | date: "%Y年%m月%d日" }}</span>
        {% include edit-on-github.html %}
    </div>
    <div class="post-content">
        {{ content }}
    </div>
    <div class="post-post-toolbar">
        <a class="btn edit-on-github"
           href="https://github.com/efcl/efcl.github.io/edit/master/{{page.path | uri_escape}}"><span
                class="edit-on-github-label"></span>修正リクエストをする</a>
        <nav class="tags"
             id="js-post-tags"
             data-post-tags='[{% for tag in page.tags %}"{{ tag }}"{% unless forloop.last %},{% endunless %}{% endfor %}]'>
            <span>タグ:</span>
            <ul>
                {% for tag in page.tags %}
                <li><a href="{{ site.baseurl }}/tags/?q={{ tag }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="announce-area">
        <h3>お知らせ欄</h3>
        <div class="announce-text">
            {% include announce.html%}
        </div>
        <h3>次に書くかもしれない記事候補</h3>
        <p>興味がありましたら<a href="https://github.com/efcl/efcl.github.io/labels/%E8%A8%98%E4%BA%8B%E5%80%99%E8%A3%9C" title="Issues · efcl/efcl.github.io">Issues · efcl/efcl.github.io</a>からご意見下さい</p>
        <div class="announce-text">
            <iframe src="https://azu.github.io/github-issue-widget/?owner=efcl&repo=efcl.github.io&labels=記事候補&limit=5&random"
                    allowtransparency="true" frameborder="0" scrolling="0" width="100%" height="150px"></iframe>
        </div>
    </div>
    <div class="related-articles" id="js-related-articles">
        <h3>関連記事</h3>
    </div>
</div>
<div class="zenback-embed">
    {% include zenback.html %}
</div>
<div class="disqus-embed" id="js-disqus-embed">
    <button class="comment-button" id="js-comment-button">コメントを表示</button>
</div>

<script type="text/javascript" src="{{ site.baseurl }}/public/js/tag-fetcher.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/show-related-article.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/public/js/show-disqus.js"></script>